server {
    listen 80;
    listen [::]:80;
    server_name www.apk.bet;
    return 302 https://apk.bet$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name apk.bet;

    ssl_certificate /etc/letsencrypt/live/apk.bet/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/apk.bet/privkey.pem;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;

    location / {
        try_files $uri $uri/ =404;
    }
}
