server {
    listen 80;
    listen [::]:80;
    server_name www.ffsbio.nu;
    return 302 https://ffsbio.nu$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name apk.bet;

    ssl_certificate /etc/letsencrypt/live/ffsbio.nu/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ffsbio.nu/privkey.pem;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;

    location / {
    	try_files $uri $uri/ =404;
    }
}
